# New layout tools 
sphinxcontrib-bibtex
sphinx-design


# Documentation Tools
sphinx-book-theme
myst-parser
nbsphinx
sphinx


# Core Code Dependencies
pandas
numpy
scipy
matplotlib
seaborn
networkx
POT
scikit-learn
scanpy[leiden]
statsmodels
joblib
plotly